@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800;900&display=swap');
.nav_bar{
    height: 100px;
    background-color: #c81f34;
    border: 0;
    margin: 0 auto;
}

body{
    margin: 0 auto;
}

.banner > img{
    width: 100%;
    margin: 0px;
}

.footer{
    width: 100%;
    height: 100%;
    background-color: #c81f34;
}

.logo{
    width: 103px;
    display: block;
    float:left;
    margin-left: 80px;
}

.delivery{
    width: 173px;
    display: block;
    float: right;
    padding: 25px 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list_item{
    margin: 20px 0px;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 100px; */
  
}

.item > img{
    width: 450px;
    display: block;
    margin: 0 auto;
}

.item > .title, .price, .order{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.item{
    padding: 20px;
    border-radius: 70px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
}

.price{
    color: #ce2026;
    font-weight: bold;
    font-size: x-large;
}

.order{
    display: block;
    margin: 0 auto;
    padding: 15px 20px 15px 20px;
    font-size: larger;
    background-color: #ce2026;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    /* margin-bottom: 50px; */
}

.item:hover{
    /* border: whitesmoke; */
    border: 1px solid rgb(184, 184, 184);
}

.order:hover{
    background-color: red;
}


.sidebar_menu{
    margin-top: -5px;
    width: 100%;
    height: 100px;
    background-color: #CE181F;
    font-family: 'Maven Pro', sans-serif;
}

.info{
    font-family: 'Maven Pro', sans-serif;
}

.sidebar_menu > ul{
    list-style-type: none;
    text-align: center;
    margin: 0px;
}

.info > ul{
    list-style-type: none;
    text-align: center;
    margin: 0px;
} 

.sidebar_menu > ul > li{
    display: inline-block;
    margin-left: 40px;
    padding: 10px 20px 40px 20px;
    color: #fff;
    font-weight: bold;
    height: 50px;
}

.info > ul > li{
    display: inline-block;
    padding: 15px 20px 40px 20px;
    color: #fff;
    font-weight: bold;
    font-size: large;
    height: 50px;
    margin-top: 45px;
}

.sidebar_menu > ul > li > a{
    display: inline-block;
    margin-top: 30px;
}

.info > ul > li > a{
    display: block;
    margin-bottom: 40px;
}

.sidebar_menu > ul > li:hover{
    background-color: #FFD477;
    border-radius: 8px;
}

.info > ul > li:hover{
    background-color: #FFFFFFCC;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #c81f34;
}
.logo_footer{
    display: block;
    margin-right: 50px;
    width: 100px;
    height: auto;
}

.row{
    font-family: 'Maven Pro';
    color: #fff;
    display: inline-block;
    
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0px 100px;
}

.contact > p{
    line-height: 30px;
    width: 400px;
}

.sub_row_1{
    display: flex;
    justify-content: space-between;
}

.sub_row_1 > p{
    padding: 10px;
}

.sub_row_2{
    padding: 10px;
}

.checked{
    width: 500px;
    height: auto;
}